/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'colors';

// CSS Reset

html, body, header, nav, h1, h2, h3, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button, input[type="submit"] {
    cursor: pointer;
}

body {
    min-height: 100%;
    min-width: 100%;
    text-align: center;
    position: relative;
}

// Misc

#app {
    display: flex;
}

#loading {
    position: absolute;
    top: 50vh;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

// h1::selection, h2::selection, h3::selection, 
// p::selection, span::selection, a::selection {
//     color: $gold;
// }

// Splash

.splash {
    background-image: url("//drhktpaw9j8bp.cloudfront.net/library.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: fixed;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    color: $cream;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    h1 {
        font-size: 5vmax;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        background: #f4f1eb4d;
        border-radius: 3px;
        padding: 1vh 1vw;
    }
    .about {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        background: rgba(69, 47, 33, 0.7);
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20vw;
            height: 10vh;
            p {
                font-size: 3vmin;
            }
        }
    }
    .gifs {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20vw;
        }
    }
}

// Nav Bar & Search

header {
    position: fixed; 
    z-index: 10;
    box-shadow: 0 .5vh 1vh rgba(0, 0, 0, 0.3);
    background-color: $cream;
    color: $word;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 10vh;
    border-bottom: 3px ridge $boarders;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;    
        width: 100%;
        .logo {
            margin-left: 5vw;
            font-size: 4.5vmin;
            font-weight: 100;
            transition: text-shadow .3s;
            span {
                font-weight: 900;
            }
            &:hover {
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.333);
            }
        }
        .book-search {
            padding: 1vh 0;
            border: 2px inset $boarders;
            border-radius: 5px;
            width: 20vw;
            overflow: hidden;
            background-color: $green;
            div {
                position: absolute;
                top: 8vh;
                width: 20vw;
                background-color: $transgreen;
                border-radius: 5px;
                color: $word;
                z-index: 11;
                box-shadow: 0.5vw 0.5vh 1vh rgba(0, 0, 0, 0.3);
                ul {
                    padding: 1vh 1vw 0 1vw;
                    li {
                        &:first-child {
                            padding: 1vh;
                        }
                        &:not(:first-child) {
                            padding: 2vh 1vw;
                            &:hover {
                                color: $hoverword;
                            }
                        }
                        &:not(:last-child) {
                            border-bottom: 1px dashed $boarders;
                        }
                    }
                }
            }
        }
        button {    
            margin-right: 5vw;
            border: 2px outset $boarders;
            border-radius: 4px;
            color: $word;
            background-color: $cream;
            padding: 1vh 1vw;
            text-transform: uppercase;
            transition: background-color .3s, color .3s;
            &:hover {
                background-color: $boarders;
                color: $cream;
            }
            &:active {
                border-style: inset;
            }
        }
        aside {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

// Session Modals

.session-form {
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 4vmin;
        font-weight: 700;
        padding: 2vh;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;    
        flex-direction: column;
        input {
            padding: 1vh;
            margin: 1vh;
            border: 1px inset $boarders;
            border-radius: 2px;
        }
        button {
            margin: 1vh;
            padding: 1vh 1vw;
            font-size: 3vmin;
            font-weight: 500;
            border: 2px outset $boarders;
            border-radius: 4px;
            transition: background-color .3s, color .3s;
            &:hover {
                background-color: $boarders;
                color: $cream;
            }
            &:active {
                border-style: inset;
            }
        }
    }
    ul {
        font-size: 1.5vmin;
        margin-top: 1vh;
    }
}

// Bookshelves Index

.bookshelves-index {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
    color: $word;
    background: $lightgreen;
    border-right: 3px ridge $boarders;
    z-index: 9;
    box-shadow: .5vh 0 1vh rgba(0, 0, 0, 0.3);
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        margin-top: 15vh;
        z-index: 2;
        h2 {
            padding: 1vmin;
            margin: 1vmin 3vmin;
            font-weight: 700;
            font-size: 3vmin;
            text-decoration: underline;
        }
        input {
            width: 70%;
            padding: 1vmin;
            margin: 1vmin 1vmin;
            border-radius: 5px;
            border: 2px inset $boarders;
            background-color: $cream;
        }
        button {
            padding: 1vh 1vw;
            margin: 1vh 1vw;
            background-color: $cream;
            border: 2px outset $boarders;
            border-radius: 5px;
            font-weight: 500;
            transition: background .3s, color .3s;
            &:hover {
                color: $cream;
                background: $boarders;
            }    &:active {
                border-style: inset;
            }
        }
    }
    ul {
        position: absolute;
        margin-top: 40vh;
        font-size: 2.8vmin;
        width: 90%;
        height: 60vh;
        overflow: auto;
        li {
            padding: 2vh 2vw;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            a:hover {
                color: $hoverword;
            }
            button {
                padding-right: 1vh;
                &:hover {
                    color: $hoverword;
                }
            }
            .hand {
                padding-right: 1vh;
                color: $gold;
            }
            .fa-layers-text {
                font-size: 1.8vmin;
            }
        }
    }
}

// Book Index

.book-index {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25vw;
    width: 100%;
    padding: 13vh 0 5vh;
    background: $lightcloud;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        li {
            margin: 2vh 1vw;
            img {
                width: 21vw;
                height: 28vw;
                border-radius: 5px;
                transition: all .2s ease-in-out;
                &:hover {
                    transform: scale(1.01);
                    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);    
                }
            }
        }
    }
}

// Book Show, Book Shelvings, Book Reviews

.book-show {
    display: flex;
    margin-left: 25vw;
    width: 75vw;
    background: $cloudy;
    color: $word;    
    main {
        display: flex;
        align-items: center;
        justify-content: center; //?
        flex-direction: column;
        padding-top: 10vh;
        margin-right: 25vw;
        border-right: 3px groove $boarders;
        section {
            text-align: left;
            padding: 5vh 5vw;
            border-bottom: 2px groove $boarders;
            h1 {
                padding: 0 0 1vh 5vw;
                font-weight: 700;
                font-size: 4vmin;
            }
            h3 {
                padding-left: 7vw;
                margin: 0;
                font-style: italic;
                font-size: 2.5vmin;
            }
            p {
                line-height: 4vh;
                font-size: 3vmin;
            }
        }
        .reviews {
            padding: 5vh 0;
            form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h2 {
                    padding-bottom: 1vh;
                    font-weight: 400;
                    font-size: 3vmin;
                }
                textarea {
                    padding: 1vh;
                    margin: 1vh;
                    width: 40vw;
                    min-height: 10vh;
                    border-radius: 3px;
                    background-color: $lightgreen;
                }
                button {
                    padding: 1vh 1vw;
                    margin: 1vh;
                    border: 2px outset $boarders;
                    border-radius: 4px;
                    background-color: $cream;
                    color: $word;
                    transition: background-color .3s, color .3s;
                    &:hover {
                        background-color: $boarders;
                        color: $cream;
                    }
                    &:active {
                        border-style: inset;
                    }
                }
                .review-errors {
                    font-size: 1.5vmin;
                    display: block;
                    color: red;
                }
            }
            h3 {
                padding: 2vh;
                text-align: center;
            }
            ul {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                font-size: 2.5vmin;
                overflow: auto;
                padding: 1vh 1vw 3vh;
                margin: 0 5vw;
                li {
                    padding: 1vh 1vw;
                    display: flex;
                    flex-direction: column;
                    div {
                        padding: 1vh 1vw;
                        h2 {
                            display: flex;
                            padding: 1vh;
                            span {
                                font-weight: bold;
                                font-style: italic;
                            }
                            p {
                                color: $gold;
                            }
                        }
                        .body {
                            padding: 1vh 1vw;
                            text-align: left;
                            background-color: $lightgreen;
                        }
                    }
                    button svg {
                        &:hover {
                            color: $hoverword;
                        }
                    }
                }
            }
        }
    }
    aside {
        position: fixed;
        display: flex;
        align-items: center;
        flex-direction: column;
        right: 0;
        width: 25vw;
        height: 100vh;
        img {
            position: relative;
            width: 18vw;
            height: 24vw;
            border-radius: 5px;
            padding-top: 15vh;
        }
        .shelvings {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1vh;
            width: 100%;
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-shrink: 0;     
                select {
                    font-size: 2vmin;
                    height: 3vh;
                    width: 90%;
                    color: $word;
                    background: $lightgreen;
                    margin: 1vmin;
                }
                button {
                    padding: 1vh 1vw;
                    margin: 1vh 1vw;
                    background-color: $cream;
                    border: 2px outset $boarders;
                    border-radius: 5px;
                    color: $word;
                    transition: background-color .3s, color .3s;
                    &:hover {
                        color: $cream;
                        background: $boarders;
                    }
                    &:active {
                        border-style: inset;
                    }
                }
                h3 {
                    font-size: 2.2vmin;
                    padding: 1vh 1vw;
                }
            }
            ul {
                width: 90%;
                font-size: 2.8vmin;
                overflow: auto;
                direction: rtl;
                li {
                    padding: 1vh 2vw;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    a:hover {
                        color: $hoverword;
                    }
                    button {
                        padding: 1vh;
                        &:hover {
                            color: $hoverword;
                        }
                    }
                }
            }
        }
    }
}

// Bookshelf Show

.bookshelf-show {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin-left: 25vw;
    padding: 0 5vw;
    background: $cloudy;
    color: $word;
    ul {
        text-align: left;
        li {
            display: grid;
            grid-template-columns: 25% 20% 20% 5%;
            justify-content: space-between;
            align-items: center;
            padding: 5vh 5vw;
            a {
                img {
                    width: 12vw;
                    height: 16vw;
                    transition: all .2s ease-in-out;
                    &:hover {
                        transform: scale(1.01);
                        box-shadow: 5px 5px 20px rgba(0,0,0,0.5);    
                    }    
                }
                h2 {
                    &:first-child:hover {
                        color: $hoverword;
                    }
                }
            }
            h3:first-child {
                text-decoration: underline;
            }
            &:first-child {
                padding-top: 20vh;
            }
            &:not(:last-child) {
                border-bottom: 1px dashed $boarders;
            }
            button:hover {
                color: $hoverword;
            }
        }
        .empty {
            display: block;
            span {
                text-decoration: underline;
            }
        }
    }
}

// Star Ratings

.rating {
    padding: 1vh;
}

.input {
    float: right;
    padding: 0;
    position: absolute;
    visibility: hidden;
}

.rating:hover .star:hover,
.rating:hover .star:hover ~ .star,
.input:checked ~ .star {
    color: $gold;
}

.star, .rating:hover .star {
    cursor: pointer;
    position: relative;
    float: right;
    display: block;
    color: $word;
}
