@import 'colors';

.bookshelf-show-background {
    display: flex;
    width: 100%;
    padding-top: 85px;
    background: $cloudy;
    color: $word;    
    min-height: 100vh;
    box-sizing: border-box;
}

.bookshelf-index-show {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    max-height: 100vh;
    max-width: 25vh;
    width: 25vh;
    padding: 5vh;
    background: $shelvings;
    box-sizing: content-box;
}

.bookshelf-show-container {
    width: 100%;
    padding: 3vh;
}

.bookshelf-show-container p {
    margin-top: 10vh;
}

.bookshelf-show-header {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
}

.bookshelf-show-title:hover {
    color: $hoverword;
}

.bookshelf-show-item {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    align-items: center;
    // justify-content: space-between;
    padding: 5vh 5vh 5vh 10vh;
    border-bottom: 1px solid $boarders;
}

.bookshelf-show-item h2 {
    padding: 1vh;
}

.bookshelf-show-item:last-child {
    border-bottom: none;
}

.bookshelf-book-cover img {
    height: 15vh;
    width: 12vh;
}

.bookshelf-show-item h2 {
    font-size: 20px;
    max-width: 30vh;
}

.shelf-name {
    text-decoration: underline;
}