@import 'colors';

.bookshelves-index-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: $background;
    min-height: 400px;
}

.bookshelves-index-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bookshelves-index-form-container h2 {
    position: relative;
    padding: 5px;
    font-weight: 800;
    font-size: 22px;
    text-decoration: underline;
}

.bookshelves-index-form input {
    padding: 7px 15px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid $boarders;
}

.create-bookshelf-btn {
    padding: 7px 12px;
    background-color: $cream;
    border: 1px solid $boarders;
    border-radius: 4px;
    color: $word;
    font-weight: 500;
    transition: background-color .3s, color .3s;
}

.create-bookshelf-btn:hover {
    background-color: $boarders;
    color: $cream;
}

.bookshelves-index-list {
    flex: 3;
    font-size: 20px;
    max-height: 300px;
    min-height: 300px;
    padding: 10px;
    overflow: auto;
}

.bookshelf-index-item {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.delete-btn {
    padding: 7px;
}

.delete-btn:hover {
    color: $hoverword;
}