@import 'colors';

.book-index-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 105px;
    padding-bottom: 20px;
    background-color: $background;
}

.book-index {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}

.book-index-item {
    padding: 30px;
}

.book-cover-img-index {
    width: 300px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);    
    transition: all .2s ease-in-out;
}

.book-cover-img-index:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);    
}