$cream: #f4f1eb;
$boarders: #a79060;
$word: #51452d;
$hoverword: #9d8656;
$background: #ebeef4;
$green: #eef4eb;
$cloud: linear-gradient(to right, #ece9e6, #ffffff);
$reviews: #E6E6E6;
$shelves: #AAB8BC;
$shelvings: #D4DCDD;
$gold: #d8b600;