@import 'colors';

.reviews-index-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 400px;
}

.reviews-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviews-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviews-form-container h2 {
    position: relative;
    font-weight: 800;
    font-size: 22px;
    text-decoration: underline
}

.reviews-form-rating {
    padding: 1vh;
}

.reviews-form-container textarea {
    padding: 1vh;
    border: 1px solid $boarders;
    min-height: 150px;
    min-width: 300px;
}

.create-review-btn {
    font-size: 18px;
    padding: 7px 12px;
    margin: 2vh 1vh 1vh 1vh;
    border: 1px solid $boarders;
    border-radius: 4px;
    background-color: $cream;
    color: $word;
    transition: background-color .3s, color .3s;
}

.create-review-btn:hover {
    background-color: $boarders;
    color: $cream;
}

.reviews-index-list {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
}

.review-index-item {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.review-index-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}

.review-index-header span {
    font-weight: bold;
    text-decoration: underline;
}

.review-index-body {
    padding: 1vh;
    background-color: $cream;
}

// .delete-btn {
//     padding: 1vh;
// }

.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  color: $gold;
}

.rating-star,
.rating:hover .rating-star {
  cursor: pointer;
  position: relative;
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  color: black;
}

.review-star {
    color: $gold;
} 