@import 'colors';

.reviews-index-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: $background;
    min-height: 400px;
}

.reviews-index-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviews-index-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviews-index-form-container h2 {
    position: relative;
    padding: 5px;
    font-weight: 800;
    font-size: 22px;
    text-decoration: underline
}

.reviews-index-form-container textarea {
    padding: 7px 15px;
    margin: 10px;
    border: 1px solid $boarders;
    min-height: 150px;
    min-width: 300px;
}

.create-review-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    padding: 7px 12px;
    border: 1px solid $boarders;
    border-radius: 4px;
    background-color: $cream;
    color: $word;
    font-weight: 500;
    transition: background-color .3s, color .3s;
}

.create-review-btn:hover {
    background-color: $boarders;
    color: $cream;
}

.reviews-index-list {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
}

.review-index-item {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.review-index-username {
    font-weight: bold;
    text-decoration: underline;
}

.review-index-body {
    padding: 15px;
}

.delete-btn {
    padding: 7px;
}