@import 'colors';

.session-form-title {
    font-size: 22px;
    font-weight: 700;
    padding: 2vh;
}

.session-form div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}

.session-form-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field input {
    padding: 7px;
    margin: 5px;
    border: 1px solid $boarders;
}

.session-form-errors {
    width: 90%;
    height: 20px;
    font-size: 12px;
    min-height: 4vh;
}

.session-btn {
    display: flex;
    justify-content: center;
    padding: 5px 15px;
    margin: 1vh;
    background-color: $cream;
    border: 1px solid $boarders;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    transition: background-color .3s, color .3s;
}

.session-btn:hover {
    background-color: $boarders;
    color: $cream;
}

.demo-btn {
    display: flex;
    justify-content: center;
    padding: 5px 15px;
    margin: 1vh;
    background-color: $cream;
    border: 1px solid $boarders;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    transition: background-color .3s;
}

.demo-btn:hover {
    background-color: $boarders;
    color: $cream;
}